[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Hatari UI
Exec=hatariui
Icon=hatari-icon
X-XFCE-Source=file:///usr/local/share/applications/hatariui.desktop
