[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/jade/Desktop/Firestorm-Releasex64.desktop]
row=3
col=0

[/home/jade/Desktop/synergy.desktop]
row=4
col=0

[LM G710]
row=6
col=0

[Quadra 610 Enabler]
row=8
col=0

[93 MB Volume]
row=5
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/jade]
row=2
col=0

